form {
    margin-top: 100px;
     width: 400px;
     padding: 20px;
     background-color: #f2f2f2;
     border-radius: 5px;
     opacity: 0.8;
    
 }
 .form-title{
    font-weight: bold;
 }
 label {
     display: block;
     margin-bottom: 10px;
     text-align: center;
 }
 input[type="date"] {
     width:80%;
     padding:5px;
 }
 input[type="number"] {
    
     width:80%;
     padding:5px;
 }
 #originsel {
     width:250px;
     height:30px;
     font-size: 17px;
 }
 #destinationsel {
     width:250px;
     height:30px;
     font-size: 17px;
 }
 input[type="submit"] {
     background-color: green;
     color: white;
     border: none;
     padding: 10px 20px;
     border-radius: 5px;
     cursor: pointer;
 }
 .radio-group{
     background-color: greenyellow;
    
 }
 .radio-group label {
     display: inline-block;
     margin-right:10px;
     margin-left: 20px;
    
 }
 .traintype{
     text-align: left;
 }
 .date{
     font-size: 20px;
 }
 .display{
    padding: 100px;
 }
 
 